*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
h1{
    font-family: "BioRhyme", serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    text-transform: uppercase;
    border: 1px solid black;
    padding: 10px;
    box-shadow: 2px 2px 2px black;;
}
#guzik{
    padding: 10px;
    border-radius: 5px;
}
.boksy{
    width: 50%;
}
#mainCont{
    border: none;
    box-shadow: none;
}



