*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}
#container{
    width: 100vw;
    height: 100vh;
    display: block;
    background-color: aliceblue;
}

.flower{
    width: 20%;
    aspect-ratio: 1;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(1px 3px 2px black);
}
#heart_holder{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#heart{
    z-index: 1001;
    width: 30%;
    aspect-ratio: 1;
    background-color: tomato;
    position: relative;
    transform: rotate(45deg);
    filter: drop-shadow(0px 0px 4px black);
}

#heart:active{
    transform: rotate(45deg) scale(1.2);
}

#left, #right{
    display: block;
    background-color: tomato;
    width: 100%;
    aspect-ratio: 1;
    position: absolute;
    
}

#left{
    transform: translateX(-50%);
    border-radius: 50% 0 0 50%;
}

#right{
    transform: translateY(-50%);
    border-radius: 50% 50% 0 0;
}