*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
h1{
    font-family: "BioRhyme", serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
}

form{
    
}